/* poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* variables */
:root {
  --main-color: #ff6f00;
  --p-color: #9b9b9b;
  --white-color: #fff;
  --rose-color: #fce7cc;
  --main-paddding: 2rem;
  --padding-section: 6rem;
  --main-transition: all 0.3s linear;
}

/* general */
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--white-color);
}

html {
  scroll-behavior: smooth;
}

input:focus,
textarea:focus,
select:focus {
  outline: none !important;
  box-shadow: none !important;
}

.flex-gap {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

/*  */
.header {
  min-height: 100vh;
  background-image: url("../pictures/bcg2.png");
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}

.header .container {
  padding-top: var(--main-paddding);
  padding-bottom: var(--main-paddding);
}

.header .navbar {
  background-color: transparent !important;
}

.header .nav-link {
  margin-right: 2rem;
  color: var(--p-color);
  transition: var(--main-transition);
}

@media screen and (max-width: 768px) {
  .header .nav-link {
    display: none;
  }
}

.header .nav-link:hover,
.header .nav-link.active {
  color: var(--white-color);
  border-bottom: 2px solid var(--main-color);
  padding-bottom: 1em;
}

.btn {
  background-color: var(--main-color);
  border: none;
  color: var(--white-color);
  padding: 0.5em 1.5em;
  transition: var(--main-transition);
}

@media screen and (max-width: 768px) {
  .header .special-btn {
    display: none;
  }
}

.btn:hover {
  background-color: var(--white-color);
  color: var(--main-color);
}

.header .text h1 {
  font-size: 3rem;
  margin-top: 6rem;
  font-size: 3.2rem;
}

@media screen and (max-width: 768px) {
  .header .text h1 {
    font-size: 1.8rem;
    text-align: center;
    margin-top: 2rem;
  }
}

.header .text p {
  font-size: 1.2rem;
  margin-top: 1rem;
  line-height: 1.5;
  color: var(--p-color);
}

.border-orange {
  border: 2px solid var(--main-color) !important; /* Bordure de 2px, solide, couleur noire */
}

.header .text .btns .btn-contact {
  background-color: transparent !important;
  border: 2px solid var(--white-color);
  color: var(--white-color);
  padding: 0.5em 1.5em;
  transition: var(--main-transition);
}

.header .text .btns .btn-contact:hover {
  background-color: var(--white-color) !important;
  color: var(--main-color);
}

/* end header */

/* start about */

.about .row {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
}

.about .row h4 {
  color: var(--main-color);
}

@media screen and (max-width: 768px) {
  .about .row h4 {
    text-align: center;
  }
}

.about .row p {
  color: var(--p-color);
  margin-top: 1rem;
  line-height: 1.5;
}

.about .row ul li i {
  color: var(--main-color);
}

@media screen and (max-width: 768px) {
  .about .row .container-btn {
    text-align: center;
  }

  .about .row .container-btn .btn {
    width: 100%;
  }
}

/* end about */

/* start features */

.features {
  padding-bottom: var(--padding-section);
}

.features h4 {
  color: var(--main-color);
}

.features h1 {
  margin-bottom: 3rem;
}

.features .card {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 2px solid var(--p-color);
}

@media screen and (max-width: 768px) {
  .features .card,
  .features h1 {
    margin-bottom: 2rem;
  }
}

.features .card:hover {
  border-color: var(--main-color);
}

.features .row i {
  font-size: 3rem;
  color: var(--main-color);
}

.features .row .card-text {
  color: var(--p-color);
  margin-top: 1rem;
  line-height: 1.5;
}

/* faq */

.faq {
  padding-bottom: var(--padding-section);
}

.faq h4 {
  color: var(--main-color);
}

.faq .accordion-item .accordion-header .accordion-button {
  background-color: var(--rose-color);
  color: #000;
  font-size: 1rem;
}

.faq .accordion-item .accordion-body {
  color: var(--p-color);
  font-size: 1rem;
}

/* start prix */
.prix {
  padding-bottom: var(--padding-section);
}

.prix .column {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 1px solid var(--p-color);
  border-radius: 15px;
}

.prix .card-body .logo {
  font-size: 3rem;
  color: var(--main-color);
  width: 100%;
}

.prix .column h2 {
  display: inline-block;
  background-color: var(--rose-color);
  padding: 0.2rem 1rem;
  border-radius: 15px;
  margin-bottom: 1rem;
}

.prix .column p {
  color: var(--p-color);
  line-height: 1.5;
  display: inline-block;
}

.prix .column ul li {
  margin-top: 0.5rem;
}

.prix .column ul li:nth-child(odd) {
  color: var(--main-color);
}

.prix .column .btn {
  background-color: var(--rose-color);
  color: var(--main-color);
  transition: var(--main-transition);
}

.prix .row > div:last-child .column {
  background-color: var(--main-color);
}

.prix .row > div:last-child .column li:nth-child(odd) i {
  color: #000;
}

.prix .row > div:last-child .column ul li p {
  color: var(--white-color);
}

@media screen and (max-width: 768px) {
  .prix .column {
    margin-bottom: 2rem;
  }
}

/* end prix */

/* start contact */

.contact {
  padding-bottom: var(--padding-section);
}

.contact h4 {
  color: var(--main-color);
}

.contact .row {
  background-color: var(--rose-color);
  border-radius: 10px;
}

.contact .row .special-container {
  background-image: url("../pictures/bcg4.png");
  background-size: cover;
  border-radius: 15px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}

.contact .row h2,
.contact .row p {
  color: var(--white-color);
  margin-top: 1rem;
}

.contact .row a {
  text-decoration: none;
  color: var(--p-color);
  font-weight: 600;
}

.contact .row i {
  color: var(--p-color);
  font-size: 1rem!;
}

.contact .row .form-control {
  margin-top: 1rem;
  margin-bottom: 4rem;
  border-bottom: 1px solid var(--p-color);
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px !important;
}

.contact .row form input,
.contact .row form textarea {
  background-color: var(--rose-color);
}

@media screen and (max-width: 768px) {
  .contact .row .special-container {
    display: none !important;
  }
  .contact .row .btn {
    display: block;
    width: 100%;
    margin: 0 auto;
    border: 1px solid var(--main-color);
  }
}

/* footer */
footer {
  padding-bottom: 2rem;
  background-color: black;
}

footer p {
  color: var(--p-color);
  font-size: 1rem;
  line-height: 2;
  padding: 0 12rem;
}

@media screen and (max-width: 768px) {
  footer p {
    padding: 0 ;
  }
  
}

footer hr {
  border: 2px solid var(--p-color);
  width: 60%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

footer .copyright {
  color: var(--p-color);
  font-size: 1rem;
  text-align: center;
}
