.dashboard {
	justify-content: flex-end;
}
.side_Bar {
height: 100vh;
width: 20%;
padding: 3.2rem 0;
flex-direction: column;
justify-content: space-between;
background-color: var(--light-bcg-color);
position: fixed;
left: 0;
bottom: 0;
overflow: hidden;
}
@media (max-width: 62em) {
	.side_Bar {
		display: none;
	}
}
.logo {
	width: 20rem;
	margin-top: -3rem;
}
.bar_list {
display: flex;
flex-direction: column;
align-items: center;
gap: 8rem;
font-size: 1.8rem;
color: var(--p-color2);
transform: translateY(-4rem);
}
.bar_link,
.logout_link {
	text-align: center;
	line-height: 1.2;
	transition: all var(--main-transition);
}
.bar_link i,
.logout_link i {
	color: inherit;
	margin-right: 1.8rem;
	transform: translateY(-0.1rem);
}
.bar_link--active{
	color: #fff;
	position: relative;
}
.bar_link--active::before {
content: "";
position: absolute;
width: 20rem;
height: 4.5rem;
background-color: var(--primary-color);
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
border-radius: 0.7rem;
z-index: -1;
}
@media (max-width: 75em) {
	.bar_link--active::before {
	width: 150%;
	}
}
.logout_link {
font-size: 1.6rem;
color: var(--p-color2);
}

/* Dashboard container */
.dashboard_container{
	width: 80%;
	padding: 3.6rem;
}
@media (max-width: 62em) {
	.dashboard_container{
		width: 100%;
	}
}
.main_dashboard--teacher .user_name{
	margin-bottom: 1rem;
}
.dash_bar{
	width: 100%;
	justify-content: space-between;
	margin-bottom: 5.2rem;
}
.profile--student .dash_bar{
	margin-bottom: 13rem;
}
.dash_header h3 {
	font-size: 2.4rem;
	margin-bottom: 1rem;
}
.dash_header span {
	font-size: 1.4rem;
	color: var(--p-color);
}
.dash_btns{
	gap: 1.6rem;
}

.select_container{
	justify-content: center;
	background-color: var(--light-bcg-color);
	border-radius: 2rem;
	overflow: hidden;
	padding: 1rem 2rem 1rem 3.2rem;
}
.dash_select{
	cursor: inherit;
	line-height: inherit;
	outline: none;
	font-size: 1.6rem;
	background-color: inherit;
}
.dash_btn{
	border: none;
	cursor: pointer;
}
.add_btn{
	color: #fff;
	background-color: var(--primary-color);
	padding: 1rem 2rem;
	border-radius: 2rem;
	gap: 1rem;
}
.delete_student_btn{
	background-color: #ff3333;
}
.add_btn span{
	font-size: 1.6rem;
}
.dash_content{
	display: grid;
  	grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
	gap: 2rem;
}
.dash_box{
	padding: 3rem 2rem;
	border-radius: 1rem;
	background-color: var(--light-bcg-color);
	gap: 1rem;
	position: relative;
}
.box_icon{
	font-size: 4rem;
	width: 6rem;
	height: 6rem;
	border-radius: 50%;
	justify-content: center;
}
.user_name{
	font-size: 1.6rem;
	font-weight: 600;
	margin-bottom: .2rem;
	line-height: 1.2;
}
.student_level{
	position: absolute;
	right: 0;
	top: 1.5rem;
	display: inline-block;
	text-align: center;
	font-size: 1.2rem;
	color: #fff;
	background-color: var(--primary-color);
	width: 4rem;
	border-radius: .3rem 0 0 .3rem;
	padding: .3rem;
}
.user_formation{
	font-size: 1.4rem;
	color: var(--p-color);
	margin-bottom: .8rem;
}
.user_btn{
	font-size: 1.4rem;
	color: var(--primary-color);
}
.formation-default .box_icon{
	color: var(--light-bcg-color);
	background-color: var(--primary-color);
}
.formation-soutien .box_icon{
	color: var(--soutien-color);
	background-color: var(--soutien-bcg);
}
.formation-langue .box_icon{
	color: var(--langue-color);
	background-color: var(--langue-bcg);
}
.formation-developement .box_icon{
	color: var(--thirth-color);
	background-color: var(--thirth-bcg);
}
.add_form .dash_btn{
	color: inherit;
	background-color: var(--light-bcg-color);
}

/* Form */

.add_user_form {
	display: flex;
	padding-top: 4rem;
	flex-direction: column;
	gap: 3rem;
}
@media (max-width: 62em) {
	.cta_form {
		width: 100%;
	}
}
.input_line {
	justify-content: space-between;
}
.input_container {
	position: relative;
}
.input_line .input_container {
	width: 45%;
}
.input {
	background-color: transparent;
	border: none;
	border: 0.1rem solid var(--p-color);
	border-radius: 1rem;
	padding: 1.5rem 2rem;
	color: inherit;
	outline: none;
	font-family: inherit;
	font-size: 1.8rem;
	width: 100%;
	position: relative;
}
.date_input::-webkit-datetime-edit-text {
	color: var(--p-color); padding: 0 0.3em;
}
.date_input::-webkit-datetime-edit-month-field {
	color: var(--p-color);
}
.date_input::-webkit-datetime-edit-day-field {
	color: var(--p-color);
}
.date_input::-webkit-datetime-edit-year-field {
	color: var(--p-color);
}
.input:focus{
	border-color: var(--primary-color);
}
.input_container label {
	display: block;
	color: var(--p-color2);
	font-size: 1.8rem;
	margin-bottom:2rem;
	transition: all var(--main-transition);
}
.has_value {
	transform: translateY(-2rem);
	color: black;
}
.animated_border {
	position: absolute;
	width: 0;
	height: 0.3rem;
	bottom: 0;
	left: 0;
	background-color: var(--primary-color);
	z-index: 1;
	transition: all var(--main-transition);
}
.animated_border--active {
	width: 100%;
}
textarea {
	height: 15rem;
}
.submit_btn {
	font-size: 1.8rem;
	font-weight: 600;
	color: #fff;
	background-color: var(--primary-color);
	border: .2rem solid var(--primary-color);
	padding: 2rem 2.5rem;
	border-radius: 1rem;
	width: 45%;
	cursor: pointer;
	transition: all var(--main-transition);
}
.submit_btn:hover {
	color: var(--primary-color);
	background-color: #fff;
}
.input_with_pen i{
	font-size: 1.6rem;
	color: var(--p-color2);
	transform: translateX(-3rem);
	cursor: pointer;
	transition: all var(--main-transition);
}
.input_with_pen i:last-child{
	font-size: 2rem;
}
.input_with_pen i:hover{
	color: #000;
}
.add_formation, .show_price_popup, .show_delete_popup{
	min-width: 40%;
	padding: 2rem 0;
	border-radius: 1rem;
	background-color: var(--light-bcg-color);
	position: absolute;
	left: 50vw;
	top: 50vh;
	transform: translate(-50%, -50%);
	position: fixed;
	z-index: 1;
}
.popup_header{
	position: relative;
	padding: 0 2rem 2rem;
	margin-bottom: 1.5rem;
	justify-content: space-between;
}
.popup_header i{
	font-size: 2.4rem;
	color: var(--p-color2);
	transition: all var(--main-transition);
	cursor: pointer;
}
.popup_header i:hover{
	color: #000;
}
.popup_header::after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	height: .1rem;
	background-color: var(--p-color);
}
.formations_headers{
	gap: 1.6rem;
	padding: 0 2rem;
	margin-bottom: 1.6rem;
}
.formation_header{
	font-size: 1.8rem;
	padding: 1rem 2rem;
	border-radius: .5rem;
	color: var(--p-color2);
	cursor: pointer;
}
.formation_header--active{
	color: #fff;
	background-color: var(--primary-color);
}
.popup_header h3{
	font-size: 2rem;
}
.add_formation_form{
	padding: 2rem 2rem 0;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.subject_row{
	justify-content: space-between;
}
.subject_name{
	font-size: 2rem;
	gap: 1rem;
}
.subject_row input{
	font-size: 1.6rem;
	padding: 1rem;
	border-radius: .5rem;
}
.submit_formation{
	padding: 2rem 0 2rem ;
	justify-content: flex-end;
}
.submit_formation_btn{
	font-size: 1.8rem;
	color: #fff;
	background-color: var(--primary-color);
	padding: 1rem 2rem;
	border-radius: .5rem;
	cursor: pointer;
}
.show_price_popup {
	justify-content: center;
}
.price_display{
	flex-direction: column;
	margin-bottom: 3.2rem;
}
.price_display span{
	font-size: 1.8rem;
	color: var(--p-color);
	margin-bottom: 1.4rem;
}
.price_display p{
	font-size: 3.2rem;
	font-weight: 600;
	color: var(--primary-color);
}
.price_btns {
	gap: 1rem;
	justify-content: center;
}
.pay_btn{
	font-size: 1.8rem;
	padding: 1rem 2rem;
	border-radius: .5rem;
	width: 10rem;
	border: solid .1rem var(--primary-color);
	justify-content: center;
}
.pay_btn--prim,
.popup_btn_del_std_confirm{
	color: #fff;
	background-color: var(--primary-color);
}
.pay_btn--prim{
	color: #fff;
	background-color: var(--primary-color);
}

.subscs_container{
	margin-top: 4.8rem;
	margin-right: 1rem;
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
}
.subsc_box{
	padding: 2.4rem;
	border-radius: 1rem;
}
.subsc_box--default{
	background-color: var(--primary-color);
}
.subsc_box--soutien{
	background-color: var(--soutien-bcg);;
}
.subsc_box--langue{
	background-color: var(--langue-bcg);
}
.subsc_box--developement{
	background-color: var(--thirth-bcg);
}
.subsc_header{
	justify-content: space-between;
}
.subsc_header h3{
	font-size: 2.8rem;
	color: #fff;
}
.subsc_row{
	justify-content: space-between;
	margin-top: 3.2rem;
}
.subsc_row .flex{
	gap: 1rem;
}
.subsc_row p{
	font-size: 1.8rem;
	color: #fff;
}
.grp_box{
	border-radius: 1rem;
	background-color: var(--light-bcg-color);
	border: .2rem solid;
}
.grp_box_header{
	justify-content: space-between;	
	margin-bottom: 1.2rem;
	padding: 2rem 0 2rem 2rem;
	position: relative;
}
.grp_box_header::after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	height: .1rem;
	background-color: var(--p-color);
}
.grp_box_header h4{
	font-size: 2rem;
}
.grp_box_header span{
	font-size: 1.2rem;
	font-weight: 600;
	padding: .5rem;
	border: .1rem solid;
	border-radius: 1rem 0 0 1rem;
}
.grp-default
{
	border-color: var(--primary-color);
}
.grp-soutien
{
	border-color: var(--soutien-bcg);
}
.grp-langue
{
	border-color: var(--langue-bcg);
}
.grp-developement
{
	border-color: var(--thirth-bcg);
}
.grp-default .grp_box_header span{
	color: var(--primary-color);
	border-color: var(--primary-color) transparent var(--primary-color) var(--primary-color);
}
.grp-soutien .grp_box_header span{
	color: var(--soutien-bcg);
	border-color: var(--soutien-bcg) transparent var(--soutien-bcg) var(--soutien-bcg);
}
.grp-langue .grp_box_header span{
	color: var(--langue-bcg);
	border-color: var(--langue-bcg) transparent var(--langue-bcg) var(--langue-bcg);
}
.grp-developement .grp_box_header span{
	color: var(--thirth-bcg);
	border-color: var(--thirth-bcg) transparent var(--thirth-bcg) var(--thirth-bcg);
}
.grp_box_list{
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
}
.box_list_item{
	font-size: 1.6rem;
	display: flex;
	justify-content: space-between;
}
.box_list_item p:first-child{
	color: var(--p-color2);
}
.box_list_item p:last-child{
	color: var(--p-color);
}
.grp_btn{
	display: block;
	font-size: 1.8rem;
	color: #fff;
	padding: 1rem 0;
	text-align: center;
}
.grp-default .grp_btn{
	background-color: var(--primary-color);
}
.grp-soutien .grp_btn{
	background-color: var(--soutien-bcg);
}
.grp-langue .grp_btn{
	background-color: var(--langue-bcg);
}
.grp-developement .grp_btn{
	background-color: var(--thirth-bcg);
}
.disp_grp_content{
	margin: 5.2rem 0;
}
.disp_grp_content .grp_box_list{
	gap: 2.4rem;
}
.students_list{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 1rem;
}
.students_list li{
	font-size: 1.8rem;
	color: var(--p-color);
}
.select_formation{
	position: relative;
}
.formation_choices{
	position: absolute;
	left: 50%;
	top: 11rem;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2.4rem;
}
.formation_choice{
	font-size: 1.6rem;
	color: var(--p-color2);
	border-radius: 1rem;
	cursor: pointer;
	position: relative;
	padding: 0 1.5rem;
}
.formation_choice::after{
	content: "";
	position: absolute;
	bottom: -1rem;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: .2rem;
	background-color: var(--primary-color);
	transition: all var(--main-transition);
}
.formation_choice:hover::after{
	width: 100%;
}
.bar_search{
	width: 20rem;
	background-color: var(--light-bcg-color);
	padding: 1rem 2rem;
	border-radius: 2rem;
	gap: 1rem;
	gap: 1rem;
}
.bar_search i{
	font-size: 1.4rem;
	color: var(--p-color);
}
.bar_search input{
	width: 100%;
	color: var(--p-color);
	background-color: inherit;
	font-size: 1.6rem;
}
.bar_search input::placeholder{
	color: var(--p-color);
	transition: all var(--main-transition);
}
.bar_search input:focus::placeholder
{
	color: transparent;
}