.login_container {
	height: 100vh;
	justify-content: center;
	background-image: url(../media/login_bcg.png);
	background-size: cover;
	overflow: hidden;
  }
  .form_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 30%;
	border-radius: 0.5rem;
	background-color: var(--light-bcg-color);
	backdrop-filter: blur(2rem);
	overflow: hidden;
  }
  @media (max-width: 75em) {
	.form_container {
	  width: 40%;
	}
  }
  @media (max-width: 48em) {
	.form_container {
	  width: 60%;
	}
  }
  @media (max-width: 32em) {
	.form_container {
	  width: 90%;
	}
  }
  .form {
	flex-direction: column;
	width: 90%;
	padding: 1rem 1.5rem 4rem;
	position: relative;
	overflow: hidden;
  }
  @media (max-width: 75em) {
	.form {
	  width: 90%;
	}
  }
  @media (max-width: 48em) {
	.form {
	  width: 100%;
	}
  }
  .logo {
	width: 20rem;
	text-align: center;
	margin-bottom: 4.8rem;
  }
  @media (max-width: 31.25em) {
	.logo {
	  margin-bottom: 2.4rem;
	}
  }
  .form div {
	width: 100%;
  }
  .form h3 {
	font-size: 3.2rem;
	font-weight: 500;
	line-height: 4.2rem;
	text-align: center;
  }
  label {
	display: block;
	margin-top: 3rem;
	font-size: 1.6rem;
	font-family: inherit;
	font-weight: 500;
  }
  input {
	display: block;
	height: 5rem;
	width: 100%;
	border-radius: 0.3rem;
	padding: 0 1rem;
	margin-top: 0.8rem;
	font-size: 1.4rem;
	font-family: inherit;
	font-weight: 300;
	border: none;
	outline: none;
  }
  ::placeholder {
	color: var(--p-color);
	font-family: inherit;
  }
  .login_btn {
	margin: 5rem 0 1.6rem;
	width: 100%;
	color: #fff;
	background-color: var(--primary-color);
	font-size: 1.8rem;
	font-family: inherit;
	font-weight: 600;
	border-radius: 0.5rem;
	cursor: pointer;
	border: none;
  }
  .warning_msg {
	position: absolute;
	bottom: 2.4rem;
	font-size: 1.4rem;
	line-height: 1.6;
	color: red;
	text-align: center;
  }
  .img_container {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  @media (max-width: 31.25em) {
	.img_container {
	  display: none;
	}
  }
  .img_container img {
	max-height: 100vh;
  }