/*Small container*/
.bcg_container {
  background-image: url(../media/bcg2.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh + 10.3rem);
  position: relative;
  padding: 0 0 var(--section-padding);
}
.bcg_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Header */
.header {
  padding: 3rem 0;
  color: #fff;
  position: relative;
  z-index: 10;
}
.header--active {
  background-color: var(--bcg-color);
}
@media (min-width: 62em) {
  .sticky {
    position: fixed;
    background-color: #171d3480;
    backdrop-filter: blur(0.5rem);
  }
}

.nav {
  justify-content: space-between;
}
.header .logo {
  width: 15rem;
  cursor: pointer;
}
.nav_list {
  justify-content: center;
  gap: 3.2rem;
  z-index: 2;
}
@media (max-width: 62em) {
  .nav_list {
    position: absolute;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--bcg-color);
    top: 98%;
    left: 0;
    width: 100%;
    height: 0;
    margin-top: -2;
    overflow: hidden;
  }
}
.nav_list--active {
  padding: 3.2rem 0;
  height: 450%;
}
.nav_link {
  font-size: 1.8rem;
  color: var(--p-color);
  cursor: pointer;
  transition: all var(--main-transition);
  position: relative;
}
.middle::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0.2rem;
  background-color: var(--primary-color);
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  transition: all var(--main-transition);
}
.middle:hover {
  color: #fff;
}
.middle:hover::after {
  width: 100%;
  color: #fff;
}
.started_link {
  padding: 1.25rem 1.5rem;
  border-radius: 0.5rem;
  color: #fff;
  background-color: var(--primary-color);
  justify-content: center;
}
@media (max-width: 62em) {
  .started_link {
    display: none;
  }
}
.started_link:hover {
  color: var(--primary-color);
  background-color: #fff;
}
.nav_icon {
  width: 3rem;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.4rem;
  cursor: pointer;
  transition: all var(--main-transition);
}
@media (max-width: 62em) {
  .nav_icon {
    display: flex;
  }
}
.nav_icon span {
  display: block;
  width: 100%;
  height: 0.4rem;
  background-color: #fff;
  border-radius: 0.2rem;
  transition: all var(--main-transition);
}
.nav_icon--active span {
  height: 0.5rem;
}
.nav_icon--active span:first-child {
  transform: rotate(42deg);
  transform-origin: top left;
}
.nav_icon--active span:nth-child(2) {
  background-color: transparent;
}
.nav_icon--active span:last-child {
  transform: rotate(-42deg);
  transform-origin: bottom left;
}
/* Hero section */
.hero_section {
  color: #fff;
  justify-content: center;
  min-height: calc(100vh - 20.3rem);
}
.hero_section .container {
  flex-direction: column;
  position: relative;
}
.hero_heading {
  font-size: 5.2rem;
  font-weight: 800;
  line-height: 1.05;
  margin-bottom: 2.4rem;
  text-align: center;
}
@media (max-width: 62em) {
  .hero_heading {
    font-size: 4.8rem;
  }
}
@media (max-width: 32em) {
  .hero_heading {
    font-size: 3.6rem;
  }
}
.hero_parag {
  font-size: 2rem;
  line-height: var(--main-line-height);
  color: var(--p-color);
  margin-bottom: 5.2rem;
  width: 80%;
  text-align: center;
}
@media (max-width: 62em) {
  .hero_parag {
    font-size: 1.8rem;
    margin-bottom: 6.4rem;
    width: auto;
  }
}

/* About Us Section */

.about_section {
  padding: var(--section-padding) 0;
}
.about_section .container {
  gap: 3.2rem;
}
@media (max-width: 62em) {
  .about_section .container {
    flex-direction: column;
  }
}
.about_section .main_heading {
  display: none;
}
@media (max-width: 62em) {
  .about_section .main_heading {
    display: block;
  }
}
.about_img,
.about_text {
  flex-basis: 50%;
}
.main_heading-about {
  margin-bottom: 2.4rem;
}
.main_heading-about .caption {
  font-size: 1.6rem;
  color: var(--primary-color);
}
@media (max-width: 62em) {
  .main_heading-about .caption {
    display: none;
  }
}
.main_heading-about h2 {
  font-size: 2.4rem;
}
.main_heading-about h2 span {
  position: relative;
}
.main_heading-about h2 span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.5rem;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -0.5rem);
  border-radius: 2rem;
  background-color: var(--primary-color);
  z-index: -1;
}
.about_parag,
.about_list {
  font-size: 1.8rem;
}
.about_parag {
  margin-bottom: 1.2rem;
}
.about_list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--p-color2);
  margin-bottom: 3.2rem;
}
.about_list > li {
  gap: 1rem;
}
.about_list li > div {
  width: 2rem;
  height: 2rem;
  padding: 1rem;
  border-radius: 50%;
  color: var(--primary-color);
  border: 0.1rem solid var(--primary-color);
  justify-content: center;
}
.about_list li > div i {
  font-size: 1.2rem;
  font-weight: 600;
}
.about_btn {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1.75rem;
  color: #fff;
  background-color: var(--primary-color);
  border-radius: 1rem;
}
@media (max-width: 48em) {
  .about_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}
}

/* Features Section */

.features_section {
  padding: var(--section-padding) 0;
}
.features_section .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 3.2rem;
}
.feature_box {
  padding: 2rem 1.5rem;
  border-radius: 1rem;
  border: 0.2rem solid var(--light-bcg-color);
  flex-direction: column;
  transition: all var(--main-transition);
}
.feature_box:hover {
  border-color: var(--primary-color);
}
.feature_box:first-child {
  transform: translateY(6rem);
}
.feature_box:nth-child(2) {
  transform: translateY(14rem);
}
.feature_box:last-child {
  transform: translateY(22rem);
}
.feature_box i {
  font-size: 5.2rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
}
.feature_title {
  font-size: 2rem;
  margin-bottom: 1.6rem;
}
.feature_parag {
  text-align: center;
  margin-bottom: 3.2rem;
}
.feature_btn {
  font-size: 2rem;
  width: fit-content;
  padding: 1.3rem 3rem;
  border: solid 0.05rem var(--p-color);
  border-radius: 0.5rem;
  transition: all var(--main-transition);
  justify-self: flex-end;
}
.feature_btn:hover {
  color: #fff;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.feature:hover .parag {
  color: rgb(204, 204, 204);
}

/* FAQ Section */

.FAQ_section {
  padding: var(--section-padding) 0;
}
.FAQ_section .container {
  display: flex;
  gap: 6.2rem;
}
.FAQ_heading {
  font-size: 2.4rem;
  white-space: nowrap;
  margin-top: 2rem;
}
@media (max-width: 48em) {
  .FAQ_heading {
    display: none;
  }
}
.questions_container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.question_box {
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: var(--light-bcg-color);
  cursor: pointer;
}
.question {
  display: flex;
  justify-content: space-between;
}
.question h2 {
  font-size: 2.4rem;
  line-height: 1.3;
  width: 90%;
}
.plus {
  font-size: 2rem;
  transform: translateY(0.5rem);
  transition: all ease var(--main-transition);
}
.answer {
  width: 90%;
  height: 0;
  overflow: hidden;
  transition: all ease var(--main-transition);
}
.question_box--active .answer {
  margin-top: 2.4rem;
}
.hidden_span {
  opacity: 0;
}

/* Pricing */

.pricing_section {
  padding: var(--section-padding) 0;
}
.pricing_section .container {
  display: grid;
  grid-template-columns: 40rem 40rem;
  gap: 5.2rem;
  justify-content: center;
}
@media (max-width: 48em) {
  .pricing_section .container {
    grid-template-columns: 1fr;
  }
}
.pricing_box {
  flex-basis: 40rem;
  border-radius: 3rem 0 0;
  padding: 4rem;
  border: 0.1rem solid var(--light-bcg-color);
}
.pricing_box:first-child {
  border-radius: 3rem 0 0;
}
@media (max-width: 48em) {
  .pricing_box:first-child {
    grid-row: 0/1;
  }
}
@media (max-width: 48em) {
  .pricing_box:last-child {
    grid-row: 1/2;
  }
}
.pricing_box:first-child {
  transform: translateY(10rem);
}
.pricing_box:last-child {
  border-radius: 0 3rem 0 0;
  background-color: var(--primary-color);
  transform: translateY(14rem);
}
.pricing_box > i {
  font-size: 5.2rem;
  color: var(--primary-color);
  margin-bottom: 2.4rem;
  margin-left: 1rem;
}
.pricing_box:first-child > i {
  color: var(--primary-color);
}
.pricing_box:last-child > i {
  color: #fff;
}
.pricing_caption {
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 3rem;
  background-color: var(--light-bcg-color);
  width: fit-content;
  margin-bottom: 2.4rem;
}
.price_box {
  margin-bottom: 2.4rem;
}
.price_box span:first-child {
  font-size: 3.6rem;
  font-weight: 700;
}
.pricing_box:last-child span:first-child {
  color: #fff;
}
.price_box span:last-child {
  font-size: 1.4rem;
  color: var(--p-color);
}
.pricing_box:last-child span:last-child {
  color: #e2e2e2;
}
.pricing_parag {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  position: relative;
}
.pricing_box:last-child .pricing_parag {
  color: #e2e2e2;
}
.pricing_parag::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1rem;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #dadada;
}
.pricing_list {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-bottom: 3.2rem;
}
.pricing_list li {
  gap: 1.2rem;
}
.pricing_list i {
  font-size: 2rem;
}
.pricing_list li:nth-child(odd) i {
  color: var(--primary-color);
}
.pricing_box:last-child li:nth-child(odd) i {
  color: #ffffff;
}
.pricing_list p {
  font-size: 1.8rem;
  color: var(--p-color2);
}
.pricing_box:last-child .pricing_list p {
  color: #e2e2e2;
}
.pricing_btn {
  font-size: 1.8rem;
  color: var(--primary-color);
  background-color: var(--light-bcg-color);
  border: 0.1rem solid var(--light-bcg-color);
  justify-content: center;
  border-radius: 2rem;
  transition: all var(--main-transition);
}
.pricing_btn:hover {
  background-color: #fff;
}
.pricing_box:last-child .pricing_btn:hover {
  color: #fff;
  background-color: var(--primary-color);
}
.pricing_btn a {
  width: 100%;
  height: 100%;
  padding: 1.5rem 0;
  text-align: center;
}

/* Contact */
.contact_section {
  padding: var(--section-padding) 0;
  position: relative;
}
.contact_section .container {
  display: flex;
  gap: 3.2rem;
  padding: 2rem;
  border-radius: 1rem;
}
@media (min-width: 62em) {
  .contact_section .container {
    background-color: var(--light-bcg-color);
  }
}
.contact_infos {
  padding: 4rem 4rem 8rem;
  border-radius: 1rem;
  background-color: var(--primary-color);
  background-image: url(../media/bcg4.png);
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.contact_infos::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.603);
}
@media (max-width: 62em) {
  .contact_infos {
    display: none;
  }
}
.contact_info_content {
  position: relative;
}
.contact_infos_title {
  font-size: 2.4rem;
  color: #fff;
  margin-bottom: 2.4rem;
}
.contact_infos .parag {
  margin-bottom: 4.8rem;
}
.contact_infos_list {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  color: var(--p-color);
}
.contact_info .flex {
  font-size: 1.8rem;
  gap: 0.8rem;
}
.contact_section .cta_form {
  width: 100% !important;
  padding-top: 4rem;
}
.cta_form {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  width: 50%;
}
@media (max-width: 62em) {
  .cta_form {
    width: 100%;
  }
}
.input_line {
  justify-content: space-between;
}
.input_container {
  position: relative;
}
.input_line .input_container {
  width: 45%;
}
.input {
  background-color: transparent;
  border: none;
  border-bottom: 0.1rem solid var(--p-color);
  color: inherit;
  outline: none;
  font-family: inherit;
  font-size: 1.6rem;
  width: 100%;
  position: relative;
}
option {
  color: var(--p-color);
}
.input_container label {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--p-color);
  font-size: 1.6rem;
  transition: all var(--main-transition);
}
.has_value {
  transform: translateY(-2rem);
  color: black;
}
.input_container:focus-within label,
.input:focus + label {
  transform: translateY(-2rem);
}
.animated_border {
  position: absolute;
  width: 0;
  height: 0.3rem;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  z-index: 1;
  transition: all var(--main-transition);
}
.animated_border--active {
  width: 100%;
}
textarea {
  height: 15rem;
}
.submit_btn {
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  background-color: var(--primary-color);
  padding: 1rem 2.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all var(--main-transition);
}
.submit_btn:hover {
  color: var(--primary-color);
  background-color: #fff;
  border-color: #fff;
}

/* Footer */
.footer {
  padding: calc(var(--section-padding) / 2) 0;
  text-align: center;
  background-color: var(--bcg-color);
}
.footer_text {
  padding-bottom: 1.8rem;
  margin-bottom: 3.6rem;
  position: relative;
}
.footer_text::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 0.1rem;
  background-color: rgb(122, 122, 122);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.footer .logo {
  width: 100%;
  justify-content: center;
  margin-bottom: 2.4rem;
}
.footer a img {
  width: 20rem;
}
.footer .parag {
  width: 70%;
  margin: 0 auto 3.6rem;
}
@media (max-width: 48em) {
  .footer .parag {
    width: auto;
  }
}
.copyright {
  font-size: 1.4rem;
  margin: 4rem 0 0;
  color: var(--p-color);
}